<h1>Listing data_sets</h1>

<table>
  <thead>
    <tr>
      <th>Data set type</th>
      <th>Project</th>
      <th>Create date</th>
      <th>Name</th>
      <th>Comment</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= data_set.data_set_type_id %></td>
        <td><%= data_set.project_id %></td>
        <td><%= data_set.create_date %></td>
        <td><%= data_set.name %></td>
        <td><%= data_set.comment %></td>
        <td><%= data_set.file_id %></td>
        <td><%= link_to 'Show', data_set %></td>
        <td><%= link_to 'Edit', edit_data_set_path(data_set) %></td>
        <td><%= link_to 'Destroy', data_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data set', new_data_set_path %>
