<h1>Show dataset </h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Data set type:</strong>
  <%= @data_set.data_set_type.name%>
</p>

<p>
  <strong>Project:</strong>
  <%= @data_set.project.title %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @data_set.create_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @data_set.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @data_set.comment %>
</p>


<%= link_to 'Edit', edit_data_set_path(@data_set)  %> |
<%= link_to 'Back', data_sets_path %>
