<%= form_for(@software_parameter) do |f| %>
  <% if @software_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software_parameter.errors.count, "error") %> prohibited this software_parameter from being saved:</h2>

      <ul>
      <% @software_parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :software_id %><br>
    <%= f.number_field :software_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
