<h1>Listing software_parameters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Software</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @software_parameters.each do |software_parameter| %>
      <tr>
        <td><%= software_parameter.name %></td>
        <td><%= software_parameter.value %></td>
        <td><%= software_parameter.software_id %></td>
        <td><%= link_to 'Show', software_parameter %></td>
        <td><%= link_to 'Edit', edit_software_parameter_path(software_parameter) %></td>
        <td><%= link_to 'Destroy', software_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software parameter', new_software_parameter_path %>
