<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @software_parameter.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @software_parameter.value %>
</p>

<p>
  <strong>Software:</strong>
  <%= @software_parameter.software_id %>
</p>

<%= link_to 'Edit', edit_software_parameter_path(@software_parameter) %> |
<%= link_to 'Back', software_parameters_path %>
