<div class="center hero-unit">
  <h1>Welcome to sysomics</h1>

  <h2>
    This is the home page for sysomics repository

  </h2>


</div>



<p style = "color: orange" ;><b>Setting:</b>
		&nbsp<%= link_to "Users", users_path %> 
	<p style = "color: orange";><b>Create your Projects here:</b>
		&nbsp<%= link_to "Projects", projects_path %></p> 
     <p style = "color: orange";><b>Sample:</b>
     	&nbsp &nbsp<%= link_to "Samples", samples_path  %>

    	&nbsp &nbsp<%= link_to "Organisms", organisms_path  %>

	    &nbsp &nbsp<%= link_to "Tissues", tissues_path  %>

	    &nbsp &nbsp<%= link_to "Cell_types", cell_types_path  %>

	   &nbsp &nbsp<%= link_to "Molecules", molecules_path  %></p>
	<p style = "color: orange";><b>Experiment:</b>
	   &nbsp &nbsp<%= link_to "Experiments", experiments_path  %>

	   &nbsp &nbsp<%= link_to "Platforms", platforms_path  %>

	   &nbsp &nbsp<%= link_to "Protocols", protocols_path  %>

	   &nbsp &nbsp<%= link_to "Diseases", diseases_path  %></p>

	<p style = "color: orange";><b>Data_processing:</b></p>
	<p style = "color: orange";><b>Publications:</b></p>
	<p style = "color: orange";><b>Internal_repository:</b></p>
    
    
 
    
<%= link_to image_tag("sysomics.jpg", alt: "sysomics"), 'http://sysbio.se/' %>