<div class="center hero-unit">
  <h1>Welcome to sysomics</h1>

  <h2>
    This is the home page for sysomics repository

  </h2>

  	<%= link_to "New User", new_user_path, class: "btn btn-large btn-primary" %>
    <%= link_to "New Proejct", new_project_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Projects", "http://localhost:3000/projects", class: "btn btn-large btn-primary" %>
    <%= link_to "Users", "http://localhost:3000/users", class: "btn btn-large btn-primary" %>


</div>

<%= link_to image_tag("sysomics.jpg", alt: "sysomics"), 'http://sysbio.se/' %>