<h1>Listing molecules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @molecules.each do |molecule| %>
      <tr>
        <td><%= molecule.name %></td>
        <td><%= link_to 'Show', molecule %></td>
        <td><%= link_to 'Edit', edit_molecule_path(molecule) %></td>
        <td><%= link_to 'Destroy', molecule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Molecule', new_molecule_path %>
