<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.label :project_id %>
           <%= f.select( :project_id,  Project.all.map {|u| [u.title,u.id]}, {:include_blank => true},{:style => "min-width: 600px;"}) %>

  </div>	
  	   <div class="mandatory">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name ,:class=>"input-xlarge"%>
  </div>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title ,:class=>"input-xlarge"%>
  </div>
    <div class="field">
    <%= f.label :number_of_samples %>
    <%= f.text_field :number_of_samples ,:class=>"input-small"  %>
  </div>
  <div class="field">
    <%= f.label :organism_id %>
   <%= f.select( :organism_id,  Organism.all.map {|u| [u.name,u.id]}, {:include_blank => true}) %>

  </div>
  <div class="field">
    <%= f.label :strain_id %> 
 
  <%= f.select( :strain_id,  Strain.all.map {|u| [u.name,u.id]}, {:include_blank => true}) %>

  </div>
  <div class="field">
    <%= f.label :tissue_id ,'Tissue/CellType' %>
     <%= f.select( :tissue_id,  Tissue.all.map {|u| [u.name,u.id]}, {:include_blank => true}) %>

  </div>
  <div class="field">
    <%= f.label :molecule_id %>
        <%= f.select( :molecule_id,  Molecule.all.map {|u| [u.name,u.id]}, {:include_blank => true}) %>

  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description ,:class=>"input-xxlarge",:rows => 5 %>
  </div> 
  
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes ,:class=>"input-xxlarge",:rows => 4 %>
  </div> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
