<h1>Show sample</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Proejct:</strong>
  <%= @sample.project.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sample.title %>
</p>

<p>
  <strong>Cell type:</strong>
  <%= @sample.cell_type.name %>
</p>

<p>
  <strong>Tissue:</strong>
  <%= @sample.tissue.name %>
</p>

<p>
  <strong>Organism:</strong>
  <%= @sample.organism.name %>
</p>
<p>
  <strong>Strain:</strong>
  <%= @sample.strain.name %>
</p>
<p>
  <strong>Molecule:</strong>
  <%= @sample.molecule.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @sample.description %>
</p
<p>
  <strong>Notes:</strong>
  <%= @sample.notes %>
</p
<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
