<h1>Listing analysis methods</h1>

<table class="table table-striped table-bordered table-condensed">  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_processing_types.each do |data_processing_type| %>
      <tr>
        <td><%= data_processing_type.name %></td>
        <td><%= link_to 'Show', data_processing_type %></td>
        <td><%= link_to 'Edit', edit_data_processing_type_path(data_processing_type) %></td>
        <td><%= link_to 'Destroy', data_processing_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New analysis method', new_data_processing_type_path %>
