<%= form_for(@data_processing) do |f| %>
  <% if @data_processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_processing.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
      <% @data_processing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :data_set_id %><br>
    <%= f.collection_select(:data_set_id,DataSet.all,:id, :name) %>
   
  </div>
  <div class="field">
    <%= f.label :analysis_method %><br>
    <%= f.collection_select(:data_processing_type_id,DataProcessingType.all,:id, :name) %>
  </div>
  <div class="field">
  	<%= f.label :software %><br>
    <%= f.collection_select(:software_id,Software.all,:id, :name) %>
  </div>
   <div class="field">
  	<%= f.label :version %><br>
    <%= f.collection_select( :software_id, Software.all, :id, :version) %>



  </div>
  <div class="field">
  	<%= f.label :software_command %><br>
    <%= f.text_field :command, :class => "commands" %>
  </div>

    <div class="field">
  	<%= f.label :description %><br>
    <%= f.text_area :description ,:class=>"input-xxlarge",:rows => 6 %>
  </div>
    <div class="field">
  	<%= f.label :note %><br>
    <%= f.text_area :note,:class=>"input-xlarge",:rows => 5 %>
  </div>
   <%= f.fields_for :assets do |p| %>
     <div class="field">
       <%= p.label :attachment %><br>
       <%= p.file_field :attachment,name: "assets[attachment][]" %>

     </div>
   <% end %>

  <div class="actions">
    <%= f.submit "Create Analysis" %>
  </div>
<% end %>
