<%= form_for(@data_processing) do |f| %>
  <% if @data_processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_processing.errors.count, "error") %> prohibited this data_processing from being saved:</h2>

      <ul>
      <% @data_processing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_processing_type_id %><br>
    <%= f.select :data_processing_type_id, options_for_select(DataProcessingType.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="field">
  	<%= f.label :software %><br>
    <%= f.select :software_id, options_for_select(Software.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :data_set_id %><br>
    <%= f.select :data_set_id, options_for_select(DataSet.all.map{|s|[s.name, s.id]}) %>
  </div>
  
   <%= f.fields_for :assets do |p| %>
     <div class="field">
       <%= p.label :attachment %><br>
       <%= p.file_field :attachment,name: "assets[attachment][]" %>

     </div>
   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
