<p id="notice"><%= notice %></p>

<p>
  <strong>Data processing type:</strong>
  <%= @data_processing.data_processing_type.name %>
</p>

<p>
  <strong>Software:</strong>
  <%= @data_processing.software.name %>
</p>

<p>
  <strong>Data set:</strong>
  <%= @data_processing.data_set.name %>
</p>



<%= link_to 'Edit', edit_data_processing_path(@data_processing) %> |
<%= link_to 'Back', data_processings_path %>
