<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :project_id %><br>
        <%= f.collection_select(:project_id,Project.all,:id, :title) %>
  </div>	
  <div class="field">
    <%= f.label :public_repository_id %><br>
    <%= f.collection_select(:public_repository_id,PublicRepository.all,:id, :name) %>

  </div>
  <div class="field">
    <%= f.label :DOI %><br>
    <%= f.text_field :DOI %>
  </div>
  
   <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
