<%= form_for @project, :html => {:multipart => true} do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_for_select(User.all.map{|s|[s.username, s.id]}) %>

  </div>
  <div class="field">
    <%= f.label :experiment_id %><br>
   <%= f.select :experiment_id, options_for_select(Experiment.all.map{|s|[s.name, s.id]}) %>
  </div>
  
  <div class="field">
    <%= f.label :publication_id %><br>
    <%= f.number_field :publication_id %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  
  
  
 <%= f.fields_for :assets do |p| %>
     <div class="field">
       <%= p.label :attachment %><br>
       <%= p.file_field :attachment,name: "assets[attachment][]" %>

     </div>
   <% end %>


  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>