<h1>Listing projects</h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>Experiment</th>
      <th>Publication</th>
      <th>Title</th>
      <th>Summary</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Attachment</th>
      <th>Size</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user.username %></td>
        <td><%= project.experiment.name %></td>
        <td><%= project.publication_id %></td>
        <td><%= project.title %></td>
        <td><%= project.summary %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <% project.assets.each do |asset| %>
            <% if ! asset.nil? %>
                <td><%= File.basename(asset.attachment.url) %></td> 
                <td><%= number_to_human_size(asset.attachment.size,:precision => 2) %></td> 
             <% end %>
        <% end %>
        <td><%= link_to  'Download',sftp_download_project_url(project) %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<li><%= link_to 'New Project', new_project_path %><li>
 	
 


