<h1>Listing projects</h1>
<table CELLPADDING=10  CELLSPACING=7>
  <thead>
    <tr>
      <th>User</th>
      <th>Experiment</th>
      <th>Publication</th>
      <th>File</th>
      <th>Title</th>
      <th>Summary</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user.username %></td>
        <td><%= project.experiment_id %></td>
        <td><%= project.publication_id %></td>
        <td><%= project.file_id %></td>
        <td><%= project.title %></td>
        <td><%= project.summary %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.attachment %></td>

        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
