<%= form_for(@public_repository) do |f| %>
  <% if @public_repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_repository.errors.count, "error") %> prohibited this public repository from being saved:</h2>

      <ul>
      <% @public_repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="mandatory">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
   </div> 
  </div>
  <div class="mandatory">

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
    </div>
  <div class="field">
    <%= f.label :record_id %>
    <%= f.text_field :record_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
