<%= form_for(@experiment_detail) do |f| %>
  <% if @experiment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment_detail.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  
<div class="mandatory">
  <div class="field">
    <%= f.label :samples %>
     <% Sample.all.each do |sample| %>
         <li>
          <%= check_box_tag 'experiment_detail[sample_ids][]', sample.id ,@experiment_detail.sample_ids.include?(sample.id)%>
          <%= sample.name %>
        </li>
    <% end %>
   </div>
  </div>
<div class="mandatory">
  <div class="field">
    <%= f.label :platforms %>
     <% Platform.all.each do |platform| %>
         <li>
          <%= check_box_tag 'experiment_detail[platform_ids][]', platform.id ,@experiment_detail.platform_ids.include?(platform.id)%>
          <%= platform.name %>
        </li>
    <% end %>
   </div>
  </div>
  
<div class="mandatory">

  <div class="field">
    <%= f.label :protocols %>
      <% Protocol.all.each do |protocol| %>
         <li>
          <%= check_box_tag 'experiment_detail[protocol_ids][]', protocol.id ,@experiment_detail.protocol_ids.include?(protocol.id)%>
          <%= protocol.name %>
        </li>
    <% end %> 
    </div>
  </div>
<div class="mandatory">

  <div class="field">
    <%= f.label :disease_id %>
      <%= f.select( :disease_id,  Disease.all.map {|u| [u.name,u.id]}, {:include_blank => true}) %>
  </div>

  </div>
<div class="mandatory">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name ,:class=>"input-xxlarge" %>
  </div>
    </div>

        <div class="mandatory">

 <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description ,:class=>"input-xxlarge",:rows => 6 %>
  </div>
    </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment ,:class=>"input-xxlarge",:rows => 5%>
  </div>
  <div class="actions">
    <%= f.submit "Create Experiment" %>
  </div>
<% end %>
