<h1>Show experiment</h1>

<p id="notice"><%= notice %></p>


<p>
  <strong>Sample:</strong>
        <%= @experiment_detail.samples.collect(&:name).join(",")	 %>

</p>

<p>
  <strong>Platform:</strong>
        <%= @experiment_detail.platforms.collect(&:name).join(",")	 %>
   %>
</p>

<p>
  <strong>Protocol:</strong>
        <%= @experiment_detail.protocols.collect(&:name).join(",")	 %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @experiment_detail.disease.name %>
</p>

  <strong>Name:</strong>
  <%= @experiment_detail.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @experiment_detail.comment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment_detail.description %>
</p>

<%= link_to 'Edit', edit_experiment_detail_path(@experiment_detail) %> |
<%= link_to 'Back', experiment_details_path %>
